.song-item {
    width: 94%;
    height: 4rem;
    margin: 0;
    padding: 12px;
    padding-left: 15px;
    display: flex;
    gap: 10px;
    align-items: center;
    color: lightgray;
    background-color: black;
    border-radius: 17px;
    filter: drop-shadow(2px 2px 5px #000000);
}

#song-info {
    width: calc(100% - 4rem);
    height: inherit;
    max-width: calc(100% - 2rem);
}

#name-line {
    align-items: center;
    display: flex;
    width: inherit;
    gap: 10px;
}

#interpret {
    margin: 0;
    margin-top: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: inherit;  
}

#add-button {
    all: unset;
    margin-left: auto;
    color: white;
    display: inline-flex;
    align-items: center;
    padding-bottom: 14px;
    font-size: 50pt;
    height: 33px;
    width: 3rem;
    border-radius: 50%;
    text-align: center;
    transition: background-color .2s;
}

#add-button:hover {
    background-color: #a0a0a077;
    cursor: pointer;
}

#add-button:active {
    background-color: #a0a0a077;
    cursor: pointer; 
}

#song-info h3 {
    margin: 0;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: inherit;
}