html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  width: inherit;
  height: inherit;
  background-color: lightgray;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.login {
  border-radius: 20px;
  background-color: white;
  filter: drop-shadow(5px 5px 10px #000000);
  width: 400px;
  height: 400px;
  margin-top: 50vh;
  margin-left: 50vw;
  transform: translate(-50%, -50%);
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

#login-title {
  margin: 0;
  margin-bottom: 55px;
}

#login-text {
  margin: 0;
  margin-top: 35px;
  font-size: 7pt;
}

.login-contents {
  padding: 0;
  padding-bottom: 30px;
  width: 60%;
  height: 50%;
  font-size: 22pt;
}

.href-button {
  font: bold 12pt Arial;
  color: white;
  text-decoration: none;
  background-color: #18ac4d;
  padding: 10% 15% 10% 15%;
  border-radius: 40px;
  text-align: center;
  width: 150px;
}

.href-button:hover {
  background-color: #1ab851;
  cursor: pointer;
}

#content {
  width: 100%;
  padding: 0.4rem;
  display: flex;
  flex: 1;
  gap: 0.6rem;
}

#search-result-container {
  flex: 1;
}

#current-information {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#currently-playing-container {
  height: fit-content;
  padding: 0.4rem;
  border-radius: 15px;
  background-color: #1a202c;
  display: grid;
  gap: 0.6rem;
  filter: drop-shadow(2px 2px 5px #000000);
}

.queue-container {
  padding: 0.4rem;
  border-radius: 15px;
  background-color: #1a202c;
  display: flex;
  flex-direction: column;
  flex: 1;
  filter: drop-shadow(2px 2px 5px #000000);
}

.song-item-container {
  max-width: 100%;
  max-height: calc(100% - 51rem);
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  flex: 1;
  overflow-y: auto;
  scrollbar-width: thin;
}

#info-item.song-item {
  background-color: #1a202c;
  outline: dashed;
}

#loading {
  margin-left: 10px;
  margin-top: 30px;
}

.song-item {
  width: calc(100% - 1.8rem);
  height: 4rem;
  margin: 0;
  padding: 12px;
  padding-left: 15px;
  display: flex;
  gap: 10px;
  align-items: center;
  color: lightgray;
  background-color: black;
  border-radius: 17px;
  filter: drop-shadow(2px 2px 5px #000000);
}

#song-info {
  width: calc(100% - 4rem);
  height: inherit;
  max-width: calc(100% - 2rem);
}

#name-line {
  align-items: center;
  display: flex;
  width: inherit;
  gap: 10px;
}

#interpret {
  margin: 0;
  margin-top: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: inherit;
}

#add-button {
  all: unset;
  margin-left: auto;
  color: white;
  display: inline-flex;
  align-items: center;
  padding-bottom: 14px;
  font-size: 50pt;
  height: 33px;
  width: 3rem;
  border-radius: 50%;
  text-align: center;
  transition: background-color 0.2s;
}

#add-button:hover {
  background-color: #a0a0a077;
  cursor: pointer;
}

#add-button:active {
  background-color: #a0a0a077;
  cursor: pointer;
}

#song-info h3 {
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: inherit;
}
